*{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    margin: 0;
    padding: 0;
}
body{
    background-color: #7c7b7b;
}

.menubar{
    margin: 0 auto;
    border-radius: 5px;
    width: 80%;
    height: 50px;
    display: flex;
    
    padding-left: 5px;
    align-items: center;
    background-color: white;
    margin-top: 10px;
}

.menuLogo{
    justify-content: left;
    height: 35px;
    padding: 10px;
}

.menuUL{
    display: flex;
    justify-content: left;
}

.menuUL a{
    color: black;
    text-decoration: none;
    list-style-type: none;
    padding: 20px;
    text-transform: uppercase;
    font-weight: 550;
    transition: all .2s ease;
}

.menuUL a li{
    font-size: 12px;
}

.menuUL a:hover{
    color: #f20303;
    scale: 1.056;    
}


.search{
    position: relative;
    right: 10px;
    left: auto;
}

.search_icon{
    position: absolute;
    top: 50%;
    right: 10px;
    transform: translateY(-50%);
    
}

.searchMenu{
    justify-content: flex-end;
    padding: 5px 5px 5px 15px; 
    font-size: 15px;
    border-radius: 20px;
    border: .2px solid black;
}


.nvbtn{
    padding: 5px 5px 5px 5px;
    border-radius: 100%;
    margin: 10px;
    background-color: #f8ab8c;
    border: none;
}

.nvbtn i {
    font-size: medium;
    color: black;
}