*{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, 
                Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    margin: 0;
    padding: 0;
}

body{
    background-color: #eeeeee;
}

/* nav - menubar styles starts */
.menubar{
    display: flex;
    align-items: center;
    padding-left: 5px;
    margin: 0 auto;
    background-color: #ffffff;
    border-radius: 5px;
    width: 80%;
    height: 50px;
    margin: 10px auto;
    transition: all 0.35s ease;
}

.menuLogo{
    justify-content: left;
    height: 35px;
    padding: 10px;
}

.menuUL{
    display: flex;
}

.menuUL a{
    padding: 20px;
    font-size: 15px;
    color: black;
    text-decoration: none;
    font-weight: 500;
    text-transform: uppercase;
    transition: all .35s ease;
}

.menuUL a:hover{
    color: #f8ab8d;
    scale: 1.056;    
}

.search{
    position: relative;
    right: 10px;
}

.search_icon{
    position: absolute;
    top: 50%;
    right: 10px;
    transform: translateY(-50%);
}

.searchMenu{
    justify-content: flex-end;
    padding: 5px 5px 5px 15px; 
    font-size: 15px;
    border-radius: 20px;
    border: .2px solid black;
}

.right-end {
    display: flex;
    align-items: center;
    margin-left: auto; /* Pushes it to the right */
}

.close-sidebar-button:hover,
.open-sidebar-button:hover{
    background-color: #f87541;
}
.close-sidebar-button,
.open-sidebar-button{
    margin: 10px;
    padding: 10px 13px;
    font-size: 15px;
    border-radius: 50%;
    background-color: #f4a383;
    border: none;
}

.close-sidebar-button{
    margin: 0 20px 0 auto;
    display: none;
}

#sidebar-active{
    display: none;
}

.open-sidebar-button{
    display: flex;
}

/* making it responvie for phone or smaller display  */ 
@media screen and (max-width: 1080px) {
    .menuUL a:hover{
        background-color: rgba(0, 0, 0, 0.665);
        /* color: white; */
    }
    .menuUL {
        display: none;
        flex-direction: column;
        align-items: flex-start;
        position: fixed;
        top: 0;
        right: -100%;
        width: 40vw;
        height: 100%;
        z-index: 100;
        box-shadow: -5px 0 5px rgba(0,0,0,0.25);
        /* backdrop-filter: blur(10px); */
        transition: right 0.75s ease-out;
        padding: 20px 0;
        overflow-y: auto;
        background-color: rgb(211, 211, 211);
    }
    
    .menuUL a {
        box-sizing: border-box;
        height: auto;
        width: 70%;
        padding: 20px 20px;
        font-size: 18px;
        justify-content: flex-start;
        /* border-radius: 0; */
        display: flex;
    }
    
    .searchMenu {
        width: 120px;
    }
    
    .close-sidebar-button{
        padding: 10px 15px;
        font-size: 19px;
    }
    
    .close-sidebar-button,
    .open-sidebar-button {
        display: block;
    }
    
    /* Change hamburger to X when menu is open */
    #sidebar-active:checked ~ .right-end .open-sidebar-button i:before {
        content: "\f00d"; /* fa-xmark unicode */
    }
    
    /* When checkbox is checked, show the menu */
    #sidebar-active:checked ~ .menuUL {
        display: flex;
        right: 0px;
    }
    
    /* Overlay when menu is open */
    #sidebar-active:checked ~ #overlay {
        display: block;
        height: 100vh;
        width: 100vw;
        position: fixed;
        top: 0;
        left: 0;
        z-index: 50;
        background-color: rgba(0, 0, 0, 0.5);
    }
}

@media screen and (max-width: 768px) {
    .menuUL {
        width: 70%;
    }
    .searchMenu {
        width: 100px;
    }
    .menubar {
        padding: 10px 15px;
    }
}

@media screen and (max-width: 480px) {
    .menuUL {
        width: 80%;
    }
    
    .search {
        padding: 6px 12px;
    }
    
    .searchMenu {
        width: 80px;
    }
}
/* nav - menubar styles ends */

/* HOME PAGE  */
.homepage{
    display: flex;
    width: 90%;
    height: 90vh;
    margin: auto;
    justify-content: space-between;
    /* background-color:yellow; */
}

.leftSideHome{
    position: relative;
    width: 1000px;
    left: 60px;
    padding: 10px;
    margin: 20px;
    /* transition: all .43s ease; */
}

.leftSideHome img{
    width: 950px;
    margin-left: 10px;
    border-radius: 8px;
    position: relative;
    margin-bottom: 8px;
}

.leftSideHome p{
    font-size: 2.5em;
    font-weight: 600;
    padding: 10px;
    margin-bottom: 32px;
}

.note_icon_date{
    position: relative;
    left: 10px;
    width: 380px;
}

.box_note_icon{
    width: 200px;
    align-items: center;
    padding: 4px;
    border-radius: 5px;
}

.bni0{
    background: #6e41e8; 
}

.bni1{
    background: #e3c034; 
}

.bni2{
    background: #e74c3c
    ; 
}
.bni3{
    background: #38ade8; 
}

.bni4{
    background: #32d255; 
}

.bni5{
    background: #e8493a; 
}


/* icons color  */
.fa-globe,
.fa-briefcase,
.fa-user-check,
.fa-user-doctor,
.fa-microchip{
    font-size: 17px;
    padding: 5px;
    padding-left: 7px;
    color: white;
}

.boxtext{
    color: white;
    font-size: 16px;
    font-weight: 500;
    align-items: center;
}

.date{
    font-size: 18px;
    margin-left: 10px;
    font-weight: 600;
    text-transform: uppercase;
}


.dis{
    display: none;
    margin: 0 6%;
}

.rightSideHome{
    display: flex;
    flex-direction: column;
    position: relative;
    padding-left: 60px;
    padding-right: 100px;
    margin: 30px auto 40px;
    /* background-color: #32d255; */
}


.h333{
    /* background-color: #e02424; */
    font-size: 20px;
    font-weight: 500;
    margin-top: 20px;
    margin-bottom: 20px;
}

.note_icon_date hr{
    margin-top: 20px;
    margin-bottom: 40px;
    opacity: .5;    
}

/* responsive homepage start */

@media screen and (max-width: 1780px) {
    .leftSideHome{
        width: 950px;
        left: 45px;
        padding: 7px;
        margin: 20px;        
    }
    
    .leftSideHome img{
        width: 900px;
    }
    
    .leftSideHome p{
        font-size: 2em;
        font-weight: 600;
        padding: 10px;
        margin-bottom: 30px;
    }

    
    .rightSideHome{
        /* display: flex; */
        /* flex-direction: column; */
        /* position: relative; */
        padding-left: 20px;
        /* padding-right: 100px; */
        margin: 30px 20px 40px;
        /* background-color: #32d255; */
    }
    
    .h333{
        /* background-color: #e02424; */
        font-size: 18px;
        /* font-weight: 500; */
        /* margin-top: 20px; */
        margin-bottom: 18px;
    }
    
    .note_icon_date hr{
        /* margin-top: 20px; */
        margin-bottom: 35px;
        /* opacity: .5; */
    }
    
}

@media screen and (max-width: 1560px) {
    .leftSideHome{
        width: 850px;
        left: 40px;
        /* padding: 7px; */
        /* margin: 20px;         */
    }
    
    .leftSideHome img{
        width: 800px;
    }
    
    .leftSideHome p{
        font-size: 1.8em;
        /* font-weight: 600; */
        /* padding: 10px; */
        /* margin-bottom: 30px; */
    }
    
    
    .rightSideHome{
        margin-left: 50px;
        /* padding-right: 100px; */
        margin: 35px auto 40px;
        /* background-color: #32d255; */
    }
    
    .h333{
        /* background-color: #38ade8; */
        font-size: 18px;
        /* font-weight: 500; */
        /* margin-top: 20px; */
        margin-bottom: 18px;
    }
}

@media screen and (max-width: 1400px) {
    .leftSideHome{
        width: 750px;
        left: 40px;
    }
    
    .leftSideHome img{
        width: 700px;
    }

    .leftSideHome p{
        font-size: 1.8em;
    }
    
    
    .rightSideHome{
        margin-left: 50px;
        margin: 35px auto 40px;
    }
    
    .h333{
        /* background-color: #38ade8; */
        font-size: 18px;
        margin-bottom: 18px;
    }
    
    .date{
        font-size: 16px;
    }
}

@media screen and (max-width: 1300px) {
    .leftSideHome{
        width: 700px;
        left: 25px;
    }
    
    .leftSideHome img{
        width: 650px;
    }

    .rightSideHome{
        margin-left: 50px;
        margin: 35px auto 40px;
    }
    
    .h333{
        /* background-color: #38ade8; */
        font-size: 18px;
        margin-bottom: 18px;
    }
}

/* 1280 */
@media screen and (max-width: 1280px) {
    .homepage {
        flex-direction: column;
    }
    
    .leftSideHome{
        width: 90%;
        left: 15px;
    }   
    .rightSideHome{
        width: 80%;
    }
    .leftSideHome img{
        width:100%
    }
    
    .leftSideHome p{
        width: 90%
        
    }
}


@media screen and (max-width: 1050px) {
    .leftSideHome p{
        font-size: 19px;
    }

    .leftSideHome{
        justify-content: center;
        align-items: center;  
        margin: 0px;
        padding: 10px;      
    } 

    .search{
        display: none;
    }

    .dis{
        margin-top: 20px;
        display: flex;
    }

    .leftSideHome img{
        margin: 0px;
        padding: 0px;
    }
}
/* responsive homepage end */





/* ################################# */
/* homePage2 */
.homePage2{
    margin-top: 50px;
    display: flex;
    flex-direction: column;

    justify-content: center;
    align-items: center;
    width: 100%;
}

.minicards{    
    width: 80%;
    /* height: 370px; */
    /* padding: 30px; */
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 20px;
    background-color: #e74c3c;
}

.mbox{
    position: relative;
    overflow: hidden;
    width: 330px;
    height: 370px;
    background-color: #38ade8;
}

/* 
    
*/